<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>칵테일 레시피</title>
  <link rel="stylesheet" type="text/css" href="css/recipe.css">
</head>

<body>
  <header>
    <div id="logoAndTitle">
      <img id="logo" src="/img/main_img/logo.png" alt="로고">
      <h1>오늘 한 잔</h1>
    </div>
  </header>
  <div class="container">
    <div id="cocktail-image"></div>
    <div id="cocktail-details">
      <div id="recipe-info">
        <h3>레시피</h3>
        <p id="recipe"></p>
      </div>
      <div id="technique-info">
        <h3>기법</h3>
        <p id="technique"></p>
      </div>
      <div id="glass-info">
        <h3>글래스</h3>
        <p id="glass"></p>
      </div>
    </div>
  </div>
  <script src="js/recipe.js"></script>
</body>

</html>